
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #222;
}
#filename {
    font-family: "Perfect DOS VGA 437 Win", monospace;
    font-size: 12pt;
    background: #000000c0;
    position: absolute;
    padding: 5px 20px;
    right: 0;
    bottom: 0;
    color: #5e8;
    box-shadow: 2px 2px 4px #000;
}
#clock {
    font-family: "Perfect DOS VGA 437 Win", monospace;
    color: #ff3fff;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    text-shadow: 6px 6px 0px #9f3f9f;
    padding: 25px;
    
    /* name duration timing-function delay iteration-count direction */
    /* animation: colors 10s linear 5s infinite normal; */
}

#search {
    color: #000;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);/* */
    width: 70%;
    margin: 12px auto;
}
input {
    background: #555555C0;
    color: #fff;
    padding: 5px;
    font-size: 12pt;
    outline: none;
    text-align: center;
    width: 100%;
    border: none;
}
#bar {
    background: #ccffcc;
    padding: 2px;
    margin: auto;
    animation-name: bar;
    animation-duration: 0.7s;
}
@keyframes bar {
    from { width: 5px; }
    to { width: 100%; }
}
